<html>
  <head>
    <title>Instruments list</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" />
  </head>
  <body>
    {% if instruments %}
    <b>Current instruments</b><br/>
    <table cellspacing="0" cellpadding="6">
      <tr>
        <th>№</th>
        <th>Symbol</th>
        <th>Source</th>
        <th>Last data</th>
      </tr>
      {% for instr in instruments %}
      <tr>
        <td>{{ instr.index }}</td>
        <td>{{ instr.symbol }}</td>
        <td>{{ instr.source }}</td>
        <td>{{ instr.last_data }}</td>
        <td>
          <a href="/instruments/{{ instr.symbol }}">Edit</a>
        </td>
        <td>
          <a href="/instruments/{{ instr.symbol }}/del">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <b>Instrument list is empty</b><br/>
    {% endif %}

    <br/>
    <b>Add new instrument</b>
    <form method="instruments" id="" action="">
      <table width="" cellspacing="" cellpadding="" border="0">
        <!-- Symbol -->
        <tr>
          <td><label for="symbol">Symbol:</label></td>
          <td><input type="text" name="symbol" id="symbol"/></td>
        </tr>
        <!-- data source -->
        <tr>
          <td><label for="source">Source:</label></td>
          <td>
            <select name="source" id="source">
              <option value="yahoo">Yahoo</option>
              <option value="finam.rts">Finam.ru RTS</option>
            </select>
          </td>
        </tr>
      </table>
      <input type="submit" value="Add" name="add"/>
    </form>
  </body>
</html>
